::highlight(rainbow-color-0) {
  color: violet;
}
::highlight(rainbow-color-1) {
  color: purple;
}
::highlight(rainbow-color-2) {
  color: blue;
}
::highlight(rainbow-color-3) {
  color: yellowgreen;
}
::highlight(rainbow-color-4) {
  color: #b3b308;
}
::highlight(rainbow-color-5) {
  color: peru;
}
::highlight(rainbow-color-6) {
  color: red;
}
::highlight(default-highlight) {
  background-color: yellow;
}
